<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>API Routes</title>
  </head>
  <body>
    <h1>API Routes</h1>
    <div id="container">
      <% Object.entries(routes).forEach(([method , _routes]) => { %>
      <details class="<%= method %>">
        <summary><%= method %></summary>
        <ul>
          <% _routes.forEach(route => { %>
          <li><%= route %></li>
          <% }) %>
        </ul>
      </details>
      <% }); %>
      <footer>
        <span>&copy; NakreS Development | Question Answer API</span>
        <a href="https://github.com/NNakreSS">GITHUB</a>
      </footer>
    </div>
  </body>
</html>
