# Server Variables

PORT=5000
NODE_ENV=development

# MongoDb Conntection

MONGO_URI=mongodb://localhost:27017/question-answer

# Json web Token

JWT_SECRET_KEY=eydohunmayıncohfenayııım
JWT_EXPIRE=10s
JWT_COOKIE=10